{% extends 'base.html' %}
{% block content %}
<h4 class="fs-4">Download: {{title}}</h4>
<img src="{{thumbnail}}" class="rounded mx-auto d-block img-fluid" alt="..." width="400px">
<form method="post">
    <div class="input-group mt-3 w-50 mx-auto">
        <select class="form-select" name="SelectedResolution">
            {% for res in resolutions: %}
            {% if res.index == 0 %}
            <option selected value="{{res}}">{{res}}: Size = {{resolutions[res]}}MB</option>
            {% endif %}
            <option value="{{res}}">{{res}}: Size = {{resolutions[res]}}MB</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-secondary" type="submit">Download</button>
    </div>
</form>
{% endblock %}