{% extends 'base.html' %}
{% block content %}
<h4 class="fs-4">Download: {{title}}</h4>
<form method="post">
    <div class="input-group mt-3 w-50 mx-auto">
        <select class="form-select" name="SelectedResolution">
            <option selected value="low">Lowest Resolution</option>
            <option value="high">Highest Resolution</option>
        </select>
        <button class="btn btn-outline-secondary" type="submit">Download</button>
    </div>
</form>
{% for video in videos: %}
<div class="card mt-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" src="{{video.thumbnail_url}}" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{video.title}}</h5>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}